*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
body{
 min-height: 100vh;
}
header{
    width: 100%;
    height: 400px;
    background-color: #D8EFFF;
}
.nav{
    width: 100%;
    height: 100px;
    background-color: #D8EFFF;

    position: fixed;
    z-index: 90000;
}
.nav-background{
    width: 33%;
    height: 100px;
    background-color: #D8EFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}
.nav-item{
    width: 100%;
    padding-left: 50px;
    text-decoration: none;
    color: black;
}
.header-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.bar-group{
    width: 75%;
    height: 100%;
    padding-left: 190px;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.bar{
    width: 100px;
    height: 20px;
    background-color: white;

}
.smiley-container{
    width: 30%;
    height: 30%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.procent-25{
    width: 10%;
    height: 30%;
    font-size: 25pt;
}
.slider-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}
/* https://developer.mozilla.org/en-US/docs/Web/CSS/appearance
https://codepen.io/ShadowShahriar/pen/zYPPYrQ
https://codepen.io/vsync/pen/mdEJMLv */
.slider {
    width: 60%;
}
.picture-of-me{
    width: 200px;
    height: 200px;
    z-index: 99;
}
main{
    width: 100%;
    height: 3000px;
    background-color: #F3FAFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* about */
.about{
    width: 100%;
    height: 500px;
    padding-left: 190px;
    background-color: #ECF3FF;
    display: flex;
    align-items: center;
}
.about-tekst{
    font-size: 48pt;
}
.about-tekst2{
    font-size: 24pt;
}
.about-text1{
    width: 70%;
    display: flex;
}
.about-text2{
    width: 70%;
    display: flex;
}
.about-text3{
    width: 70%;
    display: flex;
}
.tags-tekst{
    font-size: 16pt;
    padding-bottom: 10px;
}
.tags-container{
    width: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
.tags{
    width: 30%;
    height: 20%;;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.bigger-tag{
    width: 40%;
}
.about-left{
    width: 72%;
    display: flex;
    flex-direction: column;
}
.about-right{
    display: flex;
    flex-direction: column;
}
/* my work */
.my-work{
    width: 100%;
    height: 500px;
    background-color:#D8EFFF;

    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
}
.my-work-text{
    font-size: 32pt;
}
.my-work-component{
    width: 70%;
    height: 500px;
    background-color: #ECF3FF;
    border: solid #E6EDFF 1px;
    border-radius: 25px;
    position: relative;
    z-index: 2;
    top: -200px;
    box-shadow: 3px 3px #0000000b;

}
.work-title{
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.title{
    font-size: 14pt;
}
.work-img-comp{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.work-img{
    width: 30%;
    height: 100%;
    border-radius: 10px;
    background-color: #C2C8FF;
}
.content-container{
    padding-left: 50px;
    width: 80%;
    height: 500px;
    background-color: #ECF3FF;
    border: solid 3px #E6EDFF;
    border-radius: 25px;
    margin-bottom: 200px;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.left-content{
    width: 100%;
    height: 50%;
}
.right-content{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
}
.content-header{
    padding-top: 25px;
    margin-bottom: -15px;
    font-size: 48pt;
    background: -webkit-linear-gradient(left, #7b13ff, #ae6eff);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}
.line{
    width: 180px;
    height: 2px;
    background: linear-gradient(to right, #7b13ff, #ae6eff);
}
.content-text{
    padding-top: 50px;
    width: 600px;
    height: auto;
}
.content-button{
    width: 250px;
    height: 75px;
    background: linear-gradient(to right, #7b13ff, #ae6eff);
    border-radius: 50px;
    border: none;
    font-size: 24pt;
}
.icon-container{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.socialmedia-icons{
    width: 75px;
    height: 75px;
}
.contact-me-container{
    width: 80%;
    height: 700px;
    background-color: #D8EFFF;
    border-radius: 10px;

    display: flex;
    flex-direction: row;
}
.left-contact{
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.left-text{
    padding-left: 100px;
}
.e-mail{
    padding-top: 10px;
}
.right-contact{
    width: 50%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
form{
    width: 55%;
    display: flex;
    flex-direction: column;
}
.right-text-title{
    display: flex;
    justify-self: center;
    align-self: center;
}
.title-contact-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
input[type = text]{
    padding-left: 10px;
    background-color: #6bdbff40;
}
.right-text{
   width: 100%;
   height: auto;
}
.contact-form{
    border-radius: 10px;
}
.long-contact{
    width: 100%;
    height: 50px;
}
.big-contact{
    width: 100%;
    height: 200px;
}
.contact-button{
    font-size: 20pt;
    width: 100px;
    height: 50px;
    background-color: #6bdbff40;
    border-radius: 10px;
    margin-top: 10px;
}
/* text */
.bold{
    font-weight: bold;
}
.size-24{
    font-size: 24pt;
}
/* colors */

.color-red{
    background-color: red;
}
.color-light-red{
    background-color: #FF9696;
}
.color-orange{
    background-color: orange;
}
.color-light-orange{
    background-color: #FFC684;
}
.color-yellow{
    background-color: #FBFF41;
}
.color-light-green{
    background-color: greenyellow;
}
.color-blue{
    background-color: blue;
}
.color-green{
    background-color: green;
}
.color-purple{
    background-color: purple;
}
.color-light-blue{
    background-color: #8AFFFF;
}
.color-light-purple{
    background-color: #D48FFF;
}
.show{
    display: none
}
.show2{
    display: flex
}

@media only screen and (max-width: 600px) {
    body{
        min-height: 100vh;
        width: 100%;
       }
       .mobile-container {
        max-width: 480px;
        margin: auto;
        height: 500px;
        color: white;
        border-radius: 10px;
      }
      
      .topnav {
        overflow: hidden;
        background-color: #333;
        position: relative;
      }
      
      .topnav #myLinks {
        display: none;
      }
      
      .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
      }
      
      .topnav a.icon {
        background: #74c5ff;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
      }
      
      .topnav a:hover {
        background-color: #96d3ff;
        color: black;
      }
      
      .active {
        background-color: #a1d8ff;
        color: white;
      }
       header{
           width: 100%;
           height: 400px;
           background-color: #D8EFFF;
       }
       .nav{
           width: 100%;
           height: 50px;
           background-color: #D8EFFF;
       
           position: fixed;
           z-index: 90000;
       }
       .nav-background{
           width: 100%;
           height: 100px;
           background-color: #D8EFFF;
           display: flex;
           flex-direction: row;
           justify-content: space-between;
           align-items: center;
           position: fixed;
           display: none;
       }
       .nav-item{
           width: 100%;
           padding-left: 25px;
           text-decoration: none;
           color: black;
           display: none;
       }
       .header-container{
           width: 100%;
           height: 100%;
           display: flex;
           align-items: center;
           flex-direction: column-reverse;
           
       }
       .bar-group{
           width: 70%;
           height: 50%;
           padding-left: 25px;
           display: flex;
           align-items: flex-start;
           justify-content: center;
           flex-direction: column;
         
       }
       .bar{
           width: 100px;
           height: 20px;
           background-color: white;
       
       }
       .smiley-container{
           width: 70%;
           height: 10%;
           padding-bottom: 30px;
       
           display: flex;
           flex-direction: row;
           justify-content: space-between;
           align-items: flex-start;
       }
       .procent-25{
           width: 10%;
           height: 30%;
           font-size: 25pt;
       }
       .slider-container{
           display: flex;
           justify-content: space-between;
           align-items: center;
           width: 100%;
       }
       /* https://developer.mozilla.org/en-US/docs/Web/CSS/appearance
       https://codepen.io/ShadowShahriar/pen/zYPPYrQ
       https://codepen.io/vsync/pen/mdEJMLv */
       .slider {
           width: 80%;
       }
       .picture-of-me{
           width: 100px;
           height: 100px;
           z-index: 99;
       }
       main{
           width: 100%;
           height: 3000px;
           background-color: #F3FAFF;
           display: flex;
           flex-direction: column;
           align-items: center;
       }
       
       /* about */
       .about{
           width: 100%;
           height: 500px;
           padding-left: 25px;
           background-color: #ECF3FF;
           display: flex;
           align-items: center;
           justify-content: space-evenly;
           flex-direction: column;
       }
       .about-tekst{
           font-size: 20pt;
       }
       .about-tekst2{
           font-size: 16pt;
       }
       .about-text1{
           width: 70%;
           display: flex;
           font-size: 8pt;
       }
       .about-text2{
           width: 70%;
           display: flex;
           font-size: 8pt;
       }
       .about-text3{
           width: 70%;
           display: flex;
           font-size: 8pt;
       }
       .tags-tekst{
           font-size: 12pt;
           padding-bottom: 10px;
       }
       .tags-container{
           width: 200px;
           display: flex;
           flex-direction: row;
           flex-wrap: wrap;
           gap: 10px;
       }
       .tags{
           width: 20%;
           height: 60%;;
           font-size: 8pt;
           display: flex;
           justify-content: center;
           align-items: center;
           border-radius: 5px;
       }
       .bigger-tag{
           width: 30%;
       }
       .about-left{
           width: 72%;
           display: flex;
           flex-direction: column;
       }
       .about-right{
           margin-left: -60px;
           display: flex;
           flex-direction: column;
       }
       /* my work */
       .my-work{
           width: 100%;
           height: 300px;
           background-color:#D8EFFF;
       
           display: flex;
           align-items: center;
           justify-content: flex-start;
           flex-direction: column;
           padding-top: 25px;
       }
       .my-work-text{
           font-size: 28pt;

       }
       .my-work-component{
           width: 80%;
           height: 300px;
           background-color: #ECF3FF;
           border: solid #E6EDFF 1px;
           border-radius: 25px;
           position: relative;
           z-index: 2;
           top: -200px;
           box-shadow: 3px 3px #0000000b;
       
       }
       .work-title{
           height: 10%;
           display: flex;
           flex-direction: row;
           justify-content: space-around;
           align-items: center;
       }
       .title{
           font-size: 14pt;
       }
       .work-img-comp{
           width: 100%;
           height: 70%;
           display: flex;
           flex-direction: row;
           justify-content: space-around;
           align-items: center;
           padding-top: 40px;
       }
       .work-img{
           width: 30%;
           height: 100%;
           border-radius: 10px;
           background-color: #C2C8FF;
       }
       .content-container{
           padding-left: 0px;
           width: 80%;
           height: 300px;
           background-color: #ECF3FF;
           border: solid 3px #E6EDFF;
           border-radius: 25px;
           margin-bottom: 200px;
       
           display: flex;
           justify-content: flex-start;
           align-items: flex-start;
           flex-direction: column;
       }
       .left-content{
           width: 100%;
           height: 50%;
           padding-left: 50px;
       }
       .right-content{
           width: 100%;
           height: 50%;
           display: flex;
           justify-content: space-evenly;
           align-items: center;
           gap: 0px;
       }
       .content-header{
           padding-top: 25px;
           margin-bottom: 0px;
           font-size: 20pt;
           background: -webkit-linear-gradient(left, #7b13ff, #ae6eff);
           -webkit-background-clip: text; 
           -webkit-text-fill-color: transparent;
       }
       .line{
           width: 75px;
           height: 2px;
           background: linear-gradient(to right, #7b13ff, #ae6eff);
       }
       .content-text{
           padding-top: 50px;
           width: 80%;
           height: auto;
           font-size: 6pt;
       }
       .content-button{
           width: 125px;
           height: 40px;
           background: linear-gradient(to right, #7b13ff, #ae6eff);
           border-radius: 50px;
           border: none;
           font-size: 12pt;
       }
       .icon-container{
           width: 30%;
           height: 100%;
           display: flex;
           justify-content: space-between;
           align-items: center;
       }
       .socialmedia-icons{
           width: 25px;
           height: 25px;
       }
       .contact-me-container{
           width: 80%;
           height: 700px;
           background-color: #D8EFFF;
           border-radius: 10px;
       
           display: flex;
           flex-direction: column;
       }
       .left-contact{
           width: 100%;
           height: 30%;
       
           display: flex;
           flex-direction: column;
           justify-content: center;
           align-items: flex-start;
       }
       .left-text{
           padding-left: 25px;
           font-size: 12pt;
       }
       .e-mail{
           padding-top: 10px;
       }
       .right-contact{
           width: 100%;
           height: 60%;
           
           display: flex;
           justify-content: center;
           align-items: center;
           flex-direction: column;
       }
       form{
           width: 75%;
           display: flex;
           flex-direction: column;
       }
       .right-text-title{
           display: flex;
           justify-self: center;
           align-self: center;
       }
       .title-contact-container{
           display: flex;
           width: 100%;
           justify-content: center;
           align-items: center;
       }
       input[type = text]{
           padding-left: 10px;
           background-color: #6bdbff40;
       }
       .right-text{
          width: 100%;
          height: auto;
       }
       .contact-form{
           border-radius: 10px;
       }
       .long-contact{
           width: 100%;
           height: 50px;
       }
       .big-contact{
           width: 100%;
           height: 150px;
       }
       .contact-button{
           font-size: 20pt;
           width: 100px;
           height: 50px;
           background-color: #6bdbff40;
           border-radius: 10px;
           margin-top: 10px;
       }
       /* text */
       .bold{
           font-weight: bold;
       }
       .size-24{
           font-size: 24pt;
       }
       /* colors */
       
       .color-red{
           background-color: red;
       }
       .color-light-red{
           background-color: #FF9696;
       }
       .color-orange{
           background-color: orange;
       }
       .color-light-orange{
           background-color: #FFC684;
       }
       .color-yellow{
           background-color: #FBFF41;
       }
       .color-light-green{
           background-color: greenyellow;
       }
       .color-blue{
           background-color: blue;
       }
       .color-green{
           background-color: green;
       }
       .color-purple{
           background-color: purple;
       }
       .color-light-blue{
           background-color: #8AFFFF;
       }
       .color-light-purple{
           background-color: #D48FFF;
       }
       .show{
           display: none
       }
       .show2{
           display: flex
       }
  } 